.AlbumList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 2rem;
  margin-top: 1rem;
}

.AlbumList .AlbumItem {
  display: flex;
  flex: 0 1 0px;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 35rem;
  margin: 0 0;
}
.AlbumList .AlbumItem > a:visited {
  color: #000;
}
.AlbumList .AlbumItem > a {
  text-decoration: none;
  background-color: #eee;
  color: #000;
  display: flex;
  gap: 1rem;
  cursor: pointer;
  width: 100%;
  height: 10rem;
  padding: 0.75rem;
  border-radius: 1rem;
  filter: drop-shadow(0 0.25rem 0.5rem rgba(0, 0, 0, 0.1));
  margin: 0;
  transition: background-color 0.2s;
}
.AlbumList .AlbumItem > a:hover {
  background-color: #fff;
}

.AlbumList .AlbumItem .thumbnail {
  padding: none;
  margin: none;
  width: 10rem;
  min-width: 10rem;
  height: 10rem;
  min-height: 10rem;
}
.AlbumList .AlbumItem .thumbnail img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.AlbumList .AlbumItem .body {
}
.AlbumList .AlbumItem .body h1 {
  padding: 0;
  margin: 1rem 0 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: var(--condensed-font);
  font-size:1.5rem;
}
.AlbumList .AlbumItem .body .date {
  margin: 0;
  font-weight: bold;
  font-size: 75%;
  padding: 0.5rem 0 0 0;
  opacity: 0.8;
}
.AlbumList .AlbumItem .body .desc {
  margin: 0;
  font-size: 100%;
  line-height: 1.5rem;
  padding: 0.5rem 1rem 0 0;
  opacity: 0.5;
  max-height: 4.5rem;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  text-overflow: ellipsis;
  display: block;
}
@media only screen and (max-width: 600px) {
  .AlbumList {
    gap: 1rem;
  }
  .AlbumList .AlbumItem {
    min-width: 100%;
  }
  .AlbumList .AlbumItem > a {
  }
  .AlbumList .AlbumItem a .thumbnail {
    min-width: 10rem;
    min-height: 10rem;
  }
}
