.Browse {
}
.Browse header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 1.75rem;
  line-height:3.5rem;
  color: var(--bg-text-color);
  text-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.1);
}
.Browse header .logo {
  margin-top: 0.3rem;
}
.Browse header .logo img {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}
.Browse .pageBody {
  padding: 1rem 1rem;
  min-height: 80vh;
  background-color: #dcdcdc;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.Browse .pageBody > .album > .desc {
  margin-left: 20rem;
}
.Browse .pageBody .album .header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Browse .pageBody .album .header .date {
  white-space: nowrap;
  line-height: 1.5rem;
  color: #444;
}
.Browse .pageBody .album .header .desc {
  line-height: 1.5rem;
  max-width: 40rem;
}
.Browse footer {
  margin-top: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2.5rem;
  font-size: 1rem;
  color: var(--bg-text-color);
  padding: 0 1rem;
  line-height: 3rem;
}
.Browse footer a {
  color: var(--bg-link-color);
  transition: color 0.2s;
}
.Browse footer a:hover {
  color: var(--bg-link-hover);
}
@media only screen and (max-width: 600px) {
  .Browse .pageBody {
    padding: 1rem 0.75rem;
  }
}
