.FileList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
  gap: 2rem;
  margin-top: 2rem;
}

.FileList > div {
  width: 20rem;
  height: 20rem;
}

.FileList > div button {
  padding: 1rem;
  background:black;
  border: none;
  cursor: pointer;
}
.FileList > div button img {
  height: 100%;
  width: 100%;
}
.FileList li p {
  margin-top: 0.25rem;
}
