.FileList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 2rem;
  margin-top: 2rem;
}

.FileList > div {
  width: 20rem;
  height: 20rem;
}

.FileList > div a {
  padding: 1rem;
  display: block;
  background: #eee;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  filter: drop-shadow(0 0.25rem 0.5rem rgba(0, 0, 0, 0.1));
  border: 8px solid rgba(0,0,0,0);
  transition: background-color 0.2s, border-color 0.2s;
}
.FileList > div a:hover {
  border-color: rgba(1,1,1,0.1);
  background-color:#fff;
  border-color: rgba(0,0,0,0.15);
}

.FileList > div a img {
  height: 100%;
  width: 100%;
}
.FileList li p {
  margin-top: 0.25rem;
}
