:root {
  --condensed-font: 'Roboto Condensed', Impact, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --main-bg-color: #eee;
  --main-link-color: #446;
  --bg-link-color: #666;
  --album-link-color-visited: #000;
  --bg-text-color: #444;
  --bg-link-hover: var(--bg-text-color);
  --browse-color: 0, 0, 0;
  --browse-page-background-color: hsl(0deg 0% 90%);
  --browse-page-body-border: #ddd;
  --browse-header-shadow-color: rgba(0, 0, 0, 0.1);
  --breadcrumb-color: black;
  --album-link-shadow-color: rgba(0, 0, 0, 0.1);
  --album-link-background-color: #eee;
  --album-link-hover-background-color: #fff;
  --filelist-link-background-color: #eee;
  --filelist-link-shadow-color: rgba(0, 0, 0, 0.09);
  --filelist-link-hover-background-color: #fff;
  --exif-bg-color: #333;
  --exif-tab-text-color: #000;
  --exif-text-color: #999;
  --exif-header-color: white;
  --photoelement-background-color: #000;
  --photoelement-header-color: #999;
  --photoelement-fullscreen-background-color: black;
  --photoelement-item-background-color: black;
  --photoelement-thumb-link-hover: rgba(255, 255, 255, 0.8);
  --photoelement-icon-fill: white;
}
@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: hsl(0deg 0% 10%);
    --main-link-color: #88a;
    --bg-link-color: hsl(0deg 0% 80%);
    --album-link-color-visited: hsl(0deg 0% 80%);
    --bg-text-color: hsl(0deg 0% 50%);
    --bg-link-hover: var(--bg-text-color);
    --browse-color: 203, 203, 203;
    --browse-page-background-color: hsl(0deg 0% 5%);
    --browse-page-color: hsl(0deg 0% 80%);
    --browse-page-body-border: hsl(0deg 0% 8%);
    --browse-header-shadow-color: rgba(0, 0, 0, 0.1);
    --breadcrumb-color: white;
    --album-link-shadow-color: rgba(0, 0, 0, 0.1);
    --album-link-background-color: hsl(0deg 0% 10%);
    --album-link-hover-background-color: hsl(0deg 0% 0%);
    --filelist-link-background-color: hsl(0deg 0% 1%);
    --filelist-link-shadow-color: rgba(0, 0, 0, 0.9);
    --filelist-link-hover-background-color: hsl(0deg 0% 0%);
    --exif-bg-color: #333;
    --exif-tab-text-color: #000;
    --exif-text-color: #999;
    --exif-header-color: white;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
}

a {
  color: var(--main-link-color);
  filter: drop-shadow(0 0.25rem 0.5rem var(--album-link-shadow-color));
}

a:visited {
  color: var(--main-link-color);
}

/* Document level adjustments */
html {
  font-size: clamp(10px, 2vmin + 1px, 18px);
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
