.PhotoElement {
  position: absolute;
  background:#111;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.PhotoElement img {
  display: block;
  position: absolute;
  max-height: 90vh;
  max-width: 90vw;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 2rem solid black;
}
.PhotoElement .downloadBtn {
  position: absolute;
  cursor: pointer;
  right: 1rem;
  top: 4rem;
  background: rgba(0,0,0,0);
  color: rgba(0,255,0,1);
  border-radius: 0.5rem;
  border: 2px solid rgba(0,255,0,1);
  font-size:2rem;
  opacity: 0.25;
}
.PhotoElement .downloadBtn:hover {
  opacity: 1;
}
.PhotoElement .closeBtn {
  position: absolute;
  cursor: pointer;
  right: 1rem;
  top: 1rem;
  background: rgba(0,0,0,0);
  color: rgba(255,0,0,1);
  border-radius: 0.5rem;
  border: 2px solid rgba(255,0,0,1);
  font-size:2rem;
  opacity: 0.25;
}
.PhotoElement .closeBtn:hover {
  opacity: 1;
}
.PhotoElement .exif {
  background: white;
  width: 20rem;
  position: absolute;
  top: 50%;
  left: -21.5rem;
  max-height: 90vh;
  transform: translateY(-50%);
  padding: 1rem;
  transition: left 0.2s;
  opacity:0.9;
}
.PhotoElement .exif dl {
  width: 20rem;
  height: 90vh;
  overflow: scroll;
}
.PhotoElement .exif:hover {
  left: 0;
}
.PhotoElement .exif .tag {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(270deg);
  white-space: nowrap;
  background: white;
  left:19rem;
  padding: 0.5rem 1rem;
  border-radius: 0 0 1rem 1rem;
}

.PhotoElement .exif dt {
  text-transform: uppercase;
  font-size:1rem;
}
.PhotoElement .exif dd {
  font-weight: bold;
  font-size:1rem;
}
