.PhotoElement {
  position: absolute;
  background:#111;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.PhotoElement img {
  display: block;
  position: absolute;
  max-height: 90vh;
  max-width: 90vw;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 2rem solid black;
  border-radius: 1rem;
}
.PhotoElement .downloadBtn {
  position: absolute;
  cursor: pointer;
  right: 1rem;
  top: 1rem;
  opacity: 0.5;
}
.PhotoElement .downloadBtn:hover {
  opacity: 1;
}
.PhotoElement .closeBtn {
  position: absolute;
  cursor: pointer;
  left: 1rem;
  top: 1rem;
  opacity: 0.5;
}
.PhotoElement .closeBtn:hover {
  opacity: 1;
}
.PhotoElement .closeBtn svg,
.PhotoElement .downloadBtn svg {
  width: 2em;
  height: 2em;
}
.PhotoElement .downloadBtn svg g path,
.PhotoElement .closeBtn svg g path {
  fill: white;
}
.PhotoElement .exif {
  background: white;
  width: 20rem;
  position: absolute;
  top: 50%;
  left: -22rem;
  max-height: 90vh;
  transform: translateY(-50%);
  padding: 1rem;
  transition: left 0.2s, opacity 0.2s;
  opacity:0.2;
  border-radius: 0 1rem 1rem 0;
}
.PhotoElement .exif dl {
  width: 20rem;
  height: 90vh;
  overflow: scroll;
}
.PhotoElement .exif:hover {
  background: white;
  left: 0;
  opacity:0.9;
}
.PhotoElement .exif .tag {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(270deg);
  white-space: nowrap;
  background: white;
  line-height: 0.5rem;
  left:19.5rem;
  padding: 1rem 1rem;
  border-radius: 0 0 1rem 1rem;
  transition: opacity 0.2s;
}
.PhotoElement .exif:hover .tag {
  opacity: 0;
}

.PhotoElement .exif dt {
  text-transform: uppercase;
  font-size:1rem;
}
.PhotoElement .exif dd {
  font-weight: bold;
  font-size:1rem;
}
