.ThemeSwitcher {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background: transparent;
  cursor: pointer;
  opacity: 0.6;
}
.ThemeSwitcher:hover {
  opacity: 1;
}
.ThemeSwitcher .svg-dark,
.ThemeSwitcher .svg-light {
  fill: var(--dark-switch-fill);
}
