.ThemeSwitcher {
  position: fixed;
  top: 1rem;
  right: 1rem;
  border: none;
  background: transparent;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .ThemeSwitcher {
    position: absolute;
  }
}
.ThemeSwitcher .svg-dark,
.ThemeSwitcher .svg-light {
  fill: var(--dark-switch-fill);
}
