.videoIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  opacity: 50%;
  width: 40%;
  transition: opacity 0.2s;
}
.videoIcon svg g path {
  fill: white;
}
a:hover .videoIcon {
  opacity: 75%;
}
